map $host $subdomain_map {
    ~^(?<subdomain>[^.]*).*$ $subdomain.{{ domain }};
}

{% for name, upstream in upstreams.items() %}
upstream {{ upstream["hash"] }} {
	server {{ name }}:80;

	{% for secondary in upstream["secondaries"] %}

		{% for ip, weight in secondary.items() %}
			server {{ ip }}:80 weight={{ weight }};
		{% endfor %}

	{% endfor %}

	keepalive 100;
}
{% endfor %}

{%- for name, upstream in upstreams.items() %}
{%- if upstream["secondaries"]|length > 0 %}
upstream {{ upstream["hash"] }}_primary {
    server {{ name }}:80;
    keepalive 100;
}

{% endif %}
{%- endfor -%}

upstream site_not_found {
	server 127.0.0.1:10090;
	keepalive 100;
}

upstream deactivated {
	server 127.0.0.1:10091;
	keepalive 100;
}

upstream suspended {
	server 127.0.0.1:10092;
	keepalive 100;
}

upstream suspended_saas {
	server 127.0.0.1:10093;
	keepalive 100;
}

upstream amplify_host {
	server prod-mazeedfe.mazeed.cloud;

	keepalive 100;
}

upstream amplify_dev_host {
	server devmazeedfe.mazeed.cloud:443;

	keepalive 100;
}

upstream amplify_enivoing_host {
	server einvoice-kickoff.d374ow6s921ktb.amplifyapp.com:443;

	keepalive 100;
}

upstream amplify_tax_master_settings_host {
	server feat-tax-master-settings.d374ow6s921ktb.amplifyapp.com:443;

	keepalive 100;
}

upstream amplify_stag260226_host {
	server staging.d374ow6s921ktb.amplifyapp.com:443;

	keepalive 100;
}

upstream amplify_billing_host {
	server billing.d374ow6s921ktb.amplifyapp.com:443;

	keepalive 100;
}

upstream amplify_responsive_host {
	server responsive.d374ow6s921ktb.amplifyapp.com:443;

	keepalive 100;
}

upstream amplify_design_system_host {
	server feat-handle-system-design.d374ow6s921ktb.amplifyapp.com:443;

	keepalive 100;
}

{% set redirect = namespace(sites=[]) -%}
{%- for name, upstream in upstreams.items() -%}
	{%- if upstream["hash"] == "710d2aa909a4d35b" -%}
		{%- set redirect.sites = upstream["sites"] -%}
	{%- endif -%}
{%- endfor -%}

map $actual_host $is_amplify_dev_redirect_site {
	default 0;
	{% for site in redirect.sites -%}
	{{ site.name }} 1;
	{% endfor %}
}

map $is_amplify_dev_redirect_site $frontend_default_proxy_pass {
	1 https://amplify_dev_host;
	default https://prod-mazeedfe.mazeed.cloud;
}

map $is_amplify_dev_redirect_site $frontend_default_host_header {
	1 devmazeedfe.mazeed.cloud;
	default prod-mazeedfe.mazeed.cloud;
}

# production-monitor-server-eu-central-1 - only client allowed to probe this proxy by raw IP
geo $remote_addr $is_monitor_ip {
	default 0;
	52.58.191.190/32 1;
}

map $host $host_is_ip_literal {
	default 0;
	~^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$ 1;
}

map "$host_is_ip_literal:$is_monitor_ip" $ip_probe_allowed {
	default 1;
	"1:0" 0;
}

map $actual_host $upstream_server_hash {
{% for upstream in upstreams.values() -%}
	{% for site in upstream["sites"] %}
	{{ site.name }} http://{{ site.upstream }};
	{%- endfor %}
{% endfor %}
	default http://site_not_found;
}

map $actual_host $socket_upstream_hash {
{%- for upstream in upstreams.values() -%}
    {%- for site in upstream["sites"] %}
        {%- if site.is_auto_scaled %}
            {{ site.name }} http://{{ site.upstream }}_primary;
        {%- else %}
            {{ site.name }} http://{{ site.upstream }};
        {%- endif -%}
    {%- endfor %}
{%- endfor %}
    default http://site_not_found;
}

map $host $actual_host {
	~^(?<site>.+)-backdoor\.{{ domain | replace(".", "\\.") }}$ $site.{{ domain }};
	fe-decoupling-frappe.mazeed.cloud fe-decoupling-nextjs.mazeed.cloud;
{% for host in hosts.values() -%}
	{% for from, to in host.items() if from != 'redirect'%}
	{% if from != 'codeserver' and from != 'default' %}
	{{ from }} {{ to }};
	{% endif %}
	{%- endfor %}
{%- endfor %}
	default $host;
}

map $host $is_backdoor_host {
	~^.+-backdoor\.{{ domain | replace(".", "\\.") }}$ 1;
	default 0;
}

map $host $backend_host_header {
	~^.+-backdoor\.{{ domain | replace(".", "\\.") }}$ $actual_host;
	fe-decoupling-frappe.mazeed.cloud $actual_host;
	default $host;
}

map $is_backdoor_host $wildcard_frontend_proxy_pass {
	1 $upstream_server_hash;
	default $frontend_default_proxy_pass;
}

map $is_backdoor_host $wildcard_frontend_host_header {
	1 $backend_host_header;
	default $frontend_default_host_header;
}

map $is_backdoor_host $wildcard_frontend_x_proxy_upstream {
	1 $upstream_server_hash;
	default $frontend_default_proxy_pass;
}

map $upstream_http_access_control_allow_origin $access_control_allow_origin {
	default $upstream_http_access_control_allow_origin;
	"" "https://$host";
}

map $upstream_http_access_control_allow_headers $access_control_allow_headers {
	default $upstream_http_access_control_allow_headers;
	"" "'Origin, Content-Type, Accept";
}

map $upstream_http_access_control_allow_credentials $access_control_allow_credentials {
	default $upstream_http_access_control_allow_credentials;
	"" "true";
}

map $upstream_http_access_control_allow_methods $access_control_allow_methods {
	default $upstream_http_access_control_allow_methods;
	"" "'GET, POST, OPTIONS";
}

proxy_cache_path /tmp/cache keys_zone=proxy_cache_zone:10m loader_threshold=300 loader_files=200 max_size=200m;



#
#
# amplify_host is used to forward requests to the Amplify UI, which is running on a different server. This allows us to keep the Amplify UI separate from the main application, and also allows us to use a different SSL certificate for the Amplify UI if needed.
#
#
#
server {
	listen 443 http2 ssl;
	server_name fe-decoupling-nextjs.mazeed.cloud;

	ssl_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/*.{{ domain }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1 208.67.222.222 208.67.220.220 valid=600s;
	resolver_timeout 30s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_connect_timeout 1200;
		proxy_send_timeout 1200;
		proxy_read_timeout 1200;
		send_timeout 1200;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}



	location /fe_assets/ {
		set $amplify_host devmazeedfe.mazeed.cloud;
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $amplify_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass https://amplify_dev_host;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		set $amplify_host devmazeedfe.mazeed.cloud;

		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;
		proxy_set_header Host $amplify_host;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";

		proxy_pass https://amplify_dev_host;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
}
server {
	listen 443 http2 ssl;
	server_name workspace-00000932.mazeed.cloud;

	ssl_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/*.{{ domain }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1 208.67.222.222 208.67.220.220 valid=600s;
	resolver_timeout 30s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_connect_timeout 1200;
		proxy_send_timeout 1200;
		proxy_read_timeout 1200;
		send_timeout 1200;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}



	location /fe_assets/ {
		set $amplify_host devmazeedfe.mazeed.cloud;
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $amplify_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass https://amplify_dev_host;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		set $amplify_host devmazeedfe.mazeed.cloud;

		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;
		proxy_set_header Host $amplify_host;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";

		proxy_pass https://amplify_dev_host;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
}

#
#
# amplify_enivoing_host is used to forward requests to the Amplify UI for the einvoice kickoff host, which is running on a different server. This keeps that frontend separate from the main application while preserving the same proxy behavior as fe-decoupling-nextjs.
#
#
#
server {
	listen 443 http2 ssl;
	server_name einvoice-kickoff-2.mazeed.cloud;

	ssl_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/*.{{ domain }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1 208.67.222.222 208.67.220.220 valid=600s;
	resolver_timeout 30s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}



	location /fe_assets/ {
		set $amplify_host einvoice-kickoff.d374ow6s921ktb.amplifyapp.com;
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $amplify_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass https://amplify_enivoing_host;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		set $amplify_host einvoice-kickoff.d374ow6s921ktb.amplifyapp.com;

		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;
		proxy_set_header Host $amplify_host;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";

		proxy_pass https://amplify_enivoing_host;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
}

#
#
# amplify_enivoing_host is used to forward requests to the Amplify UI for the einvoice kickoff host, which is running on a different server. This keeps that frontend separate from the main application while preserving the same proxy behavior as fe-decoupling-nextjs.
#
#
#
server {
	listen 443 http2 ssl;
	server_name einvoice-kickoff-3.mazeed.cloud;

	ssl_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/*.{{ domain }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1 208.67.222.222 208.67.220.220 valid=600s;
	resolver_timeout 30s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}



	location /fe_assets/ {
		set $amplify_host einvoice-kickoff.d374ow6s921ktb.amplifyapp.com;
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $amplify_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass https://amplify_enivoing_host;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		set $amplify_host einvoice-kickoff.d374ow6s921ktb.amplifyapp.com;

		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;
		proxy_set_header Host $amplify_host;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";

		proxy_pass https://amplify_enivoing_host;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
}


#
#
# amplify_tax_master_settings_host is used to forward requests to the Amplify UI for the epic assets host, which is running on a different server. This keeps that frontend separate from the main application while preserving the same proxy behavior as fe-decoupling-nextjs.
#
#
#
server {
	listen 443 http2 ssl;
	server_name tax-master-settings.mazeed.cloud;

	ssl_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/*.{{ domain }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1 208.67.222.222 208.67.220.220 valid=600s;
	resolver_timeout 30s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}



	location /fe_assets/ {
		set $amplify_host feat-tax-master-settings.d374ow6s921ktb.amplifyapp.com;
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $amplify_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass https://amplify_tax_master_settings_host;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		set $amplify_host feat-tax-master-settings.d374ow6s921ktb.amplifyapp.com;

		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;
		proxy_set_header Host $amplify_host;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";

		proxy_pass https://amplify_tax_master_settings_host;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
}

#
#
# amplify_stag260226_host is used to forward requests to the Amplify UI for the staging build, which is running on a different server. This keeps that frontend separate from the main application while preserving the same proxy behavior as fe-decoupling-nextjs.
#
#
#
server {
	listen 443 http2 ssl;
	server_name stag-01.mazeed.cloud;

	ssl_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/*.{{ domain }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1 208.67.222.222 208.67.220.220 valid=600s;
	resolver_timeout 30s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}



	location /fe_assets/ {
		set $amplify_host staging.d374ow6s921ktb.amplifyapp.com;
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $amplify_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass https://amplify_stag260226_host;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		set $amplify_host staging.d374ow6s921ktb.amplifyapp.com;

		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;
		proxy_set_header Host $amplify_host;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";

		proxy_pass https://amplify_stag260226_host;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
}

#
#
# amplify_billing_host is used to forward requests to the Amplify UI for the billing app, which is running on a different server. This keeps that frontend separate from the main application while preserving the same proxy behavior as fe-decoupling-nextjs.
#
#
#
server {
	listen 443 http2 ssl;
	server_name billing-01.mazeed.cloud;

	ssl_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/*.{{ domain }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1 208.67.222.222 208.67.220.220 valid=600s;
	resolver_timeout 30s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}



	location /fe_assets/ {
		set $amplify_host billing.d374ow6s921ktb.amplifyapp.com;
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $amplify_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass https://amplify_billing_host;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		set $amplify_host billing.d374ow6s921ktb.amplifyapp.com;

		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;
		proxy_set_header Host $amplify_host;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";

		proxy_pass https://amplify_billing_host;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
}

#
#
# amplify_responsive_host is used to forward requests to the Amplify UI for the responsive host, which is running on a different server. This keeps that frontend separate from the main application while preserving the same proxy behavior as fe-decoupling-nextjs.
#
#
#
server {
	listen 443 http2 ssl;
	server_name workspace-00001819.mazeed.cloud;

	ssl_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/*.{{ domain }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1 208.67.222.222 208.67.220.220 valid=600s;
	resolver_timeout 30s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}



	location /fe_assets/ {
		set $amplify_host responsive.d374ow6s921ktb.amplifyapp.com;
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $amplify_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass https://amplify_responsive_host;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		set $amplify_host responsive.d374ow6s921ktb.amplifyapp.com;

		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;
		proxy_set_header Host $amplify_host;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";

		proxy_pass https://amplify_responsive_host;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
}

#
#
# amplify_design_system_host is used to forward requests to the Amplify UI for the design system host, which is running on a different server. This keeps that frontend separate from the main application while preserving the same proxy behavior as fe-decoupling-nextjs.
#
#
#
server {
	listen 443 http2 ssl;
	server_name design-system-01.mazeed.cloud;

	ssl_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/*.{{ domain }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/*.{{ domain }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 8.8.8.8 8.8.4.4 1.1.1.1 1.0.0.1 208.67.222.222 208.67.220.220 valid=600s;
	resolver_timeout 30s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}



	location /fe_assets/ {
		set $amplify_host feat-handle-system-design.d374ow6s921ktb.amplifyapp.com;
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $amplify_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass https://amplify_design_system_host;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		set $amplify_host feat-handle-system-design.d374ow6s921ktb.amplifyapp.com;

		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $amplify_host;
		proxy_set_header Host $amplify_host;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: https://$amplify_host";

		proxy_pass https://amplify_design_system_host;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
}

{% for host, host_options in hosts.items() %}

{% set ns = namespace(host=host, cert_host=host) %}

{%- for wildcard_domain in wildcards -%}
	{%- if ns.host.endswith("." + wildcard_domain) -%}
		{% set ns.cert_host = "*." + wildcard_domain %}
		{# use same certificate as root domain #}
	{%- endif %}
{%- endfor %}

server {
	listen 443 http2 ssl{% if ns.host.strip("*.") == domain %} default_server{% endif %};
	server_name {{ ns.host }};

	ssl_certificate {{ nginx_directory }}/hosts/{{ ns.cert_host }}/fullchain.pem;
	ssl_certificate_key {{ nginx_directory }}/hosts/{{ ns.cert_host }}/privkey.pem;
	ssl_trusted_certificate {{ nginx_directory }}/hosts/{{ ns.cert_host }}/chain.pem;

	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m; # about 40000 sessions
	ssl_session_tickets off;

	ssl_protocols {{ tls_protocols or 'TLSv1.2 TLSv1.3' }};
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_prefer_server_ciphers off;

	ssl_stapling on;
	ssl_stapling_verify on;

	resolver 169.254.169.253 ipv6=off valid=300s;
	resolver_timeout 5s;

	client_max_body_size 250M;
	client_body_buffer_size 16K;
	client_header_buffer_size 1k;

	more_set_headers "X-Frame-Options: SAMEORIGIN";
	more_set_headers "X-XSS-Protection: 1; mode=block";
	more_set_headers "X-Content-Type-Options: nosniff";
	more_set_headers "Referrer-Policy: no-referrer-when-downgrade";
	more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
	more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";
	
	{% if host_options.redirect %}

	location / {
		return 301 https://{{ host_options.redirect }}$request_uri;
	}

	{% else %}
	{% if ns.host == "*." + domain %}
	if ($ip_probe_allowed = 0) {
		return 403;
	}

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $backend_host_header;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";

		rewrite ^/frappe-api/(.*)$ /$1 break;
		proxy_pass $upstream_server_hash;
	}

	location /fe_assets/ {
		proxy_http_version 1.1;
		proxy_ssl_server_name on;
		proxy_ssl_name $wildcard_frontend_host_header;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $wildcard_frontend_host_header;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $wildcard_frontend_x_proxy_upstream";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass $wildcard_frontend_proxy_pass;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $backend_host_header;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		proxy_http_version 1.1;
		proxy_read_timeout 600;
		proxy_ssl_server_name on;
		proxy_ssl_name $wildcard_frontend_host_header;
		proxy_set_header Host $wildcard_frontend_host_header;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $wildcard_frontend_x_proxy_upstream";

		proxy_pass $wildcard_frontend_proxy_pass;
	}
	{% else %}
	location /assets/ {
		proxy_http_version 1.1;

		proxy_cache proxy_cache_zone;
		proxy_cache_key $scheme$host$request_uri;
		proxy_cache_valid 200 302 2m;
		proxy_cache_valid 404 1m;
		proxy_cache_bypass $http_secret_cache_purge;

		proxy_set_header Host $backend_host_header;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "";

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";
		more_set_headers "X-Proxy-Cache: $upstream_cache_status";

		proxy_pass $upstream_server_hash;
	}

	location /socket.io {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Host $backend_host_header;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header Connection "upgrade";

		more_set_headers "X-Proxy-Upstream: $socket_upstream_hash";

		proxy_pass $socket_upstream_hash;
	}

	location / {
		proxy_http_version 1.1;

		proxy_read_timeout 600;
		proxy_buffering off;
		proxy_buffer_size 8k;
		proxy_buffers 8 8k;
		proxy_busy_buffers_size 8k;

		proxy_set_header Host $backend_host_header;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Host $host;
		{% if host_options.codeserver %}
		proxy_set_header Connection "upgrade";
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection upgrade;
		proxy_set_header Accept-Encoding gzip;
		{% else %}
		proxy_set_header Connection "";
		{% endif %}

		more_set_headers "X-Proxy-Upstream: $upstream_server_hash";

		more_set_headers "Access-Control-Allow-Origin: $access_control_allow_origin";
		more_set_headers "Access-Control-Allow-Headers: $access_control_allow_headers";
		more_set_headers "Access-Control-Allow-Credentials: $access_control_allow_credentials";
		more_set_headers "Access-Control-Allow-Methods: $access_control_allow_methods";
			more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; script-src-elem 'self' 'unsafe-inline' https://www.clarity.ms https://scripts.clarity.ms https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://flagcdn.com https://*.ytimg.com https://img.youtube.com; font-src 'self' data: https://fonts.gstatic.com; connect-src 'self' ws: wss: https://*.clarity.ms https://*.mixpanel.com; frame-src 'self' blob: https://*.mazeed.cloud https://www.youtube.com https://www.youtube-nocookie.com; object-src 'none'; base-uri 'self'; frame-ancestors 'self' https://*.mazeed.cloud;";

		proxy_pass $upstream_server_hash;
	}

	proxy_intercept_errors on;
	error_page 429 /exceeded.html;
	location /exceeded.html {
		root {{ error_pages_directory }};
		internal;
	}
	{% endif %}
	{% endif %}
}

{% endfor %}

server {
	listen 80;
	server_name _;

	location ^~ /.well-known/acme-challenge/ {
		return 301 http://ssl.{{ domain }}$request_uri;
	}
	location / {
		return 301 https://$host$request_uri;
	}
}


server {
	listen 127.0.0.1:10090;

	location ~ ^/(frappe-api/.*|(api|assets|files|private/files)/) {
		return 421;
	}

	location / {
		return 307 https://{{ domain }}/dashboard/#/sites/new?domain=$host;
	}
}

server {
	listen 127.0.0.1:10091;

	root {{ error_pages_directory }};
	error_page 503 /deactivated.html;

	location / {
		return 503;
	}

	location = /deactivated.html {
		internal;
	}
}


server {
	listen 127.0.0.1:10092;

	root {{ error_pages_directory }};
	error_page 402 /suspended.html;

	location / {
		return 402;
	}

	location = /suspended.html {
		internal;
	}
}


server {
	listen 127.0.0.1:10093;

	root {{ error_pages_directory }};
	error_page 402 /suspended_saas.html;

	location / {
		return 402;
	}

	location = /suspended_saas.html {
		internal;
	}

}
